{% extends 'index.html' %}

{% block body %}

<div class="container" style="margin-top: 20px;">
	<section class="hero is-primary">
	  <div class="hero-body">
	      <h1 class="is-size-1 has-text-weight-bold has-text-dark">
	        <i class="fas fa-angle-double-right"></i>
	        Welcome!
	      </h1>
	  </div>
	</section>
	<div class="columns" style="margin-top: 10px;">
		<div class="column is-half">
	        <article class="message is-info">
	          <div class="message-header has-text-dark is-size-3">
	            <p><i class="fas fa-laptop"></i>  About My Assignment</p>
	          </div>
	          <div class="message-body has-text-dark is-size-4">
							This is an assignment for CivicDataLab! It's an open source data pipeline coded in Python-Flask which will help data engineers pre-process their data with ease! 
						</div>
	        </article>
	      </div>
	      <div class="column is-3 is-offset-2" style="margin-top: 100px;">
	      	<button class="button is-large is-warning">
				<div>
					<strong>Please 'Input' from Navbar</strong>
				</div>
	      	</button>
	      </div>
	  </div>
	<div class="columns" style="margin-top: 10px;">
		<div class="column is-4 is-offset-2" style="margin-top: 90px;">
      	<button class="button is-large is-primary">
      		<div>
      			<a href="https://github.com/ojasiiitd/Data-Pipeline-CDL" class="has-text-dark">
      				<i class="fab fa-github"></i> <strong>Goto Github</strong>
      			</a>
      		</div>
      	</button>
      </div>
      <div class="column is-half">
	        <article class="message is-info">
	          <div class="message-header has-text-dark is-size-3">
	            <p><i class="fab fa-github"></i>  Open Source!</p>
	          </div>
	          <div class="message-body has-text-dark is-size-4">
	          	I'm also a big fan of FOSS, so I have added this project
	          	to my Github.
	          </div>
	        </article>
	    </div>
	</div>
</div>

{% endblock %}