<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <div class="row w-100">
      <div class="col text-center">
        <a class="navbar-brand" href="{{ url_for('homepage') }}">CDL-Assignment</a>
      </div>
      <div class="col-auto ml-auto">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('inputData') }}">Input <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
