{% extends 'index.html' %}

{% block title %} Report {% endblock %}

{% block body %}

<div class="container mt-4">
    <center>
        <h2>Report</h2>
    </center>

    <h4>Task 1 : {{ task1 }}</h4>
    <!-- <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in report_1.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Column Name</th>
                <th>{{ 'Information on Missing Data' if task1 == 'Missing Values Processing' else 'Information on Duplicate Data' }} </th>
            </tr>
        </thead>
        <tbody>
            {% for key , val in report_content[0] %}
                <tr>
                    <td><b>{{ key }}</b></td>
                    <td>
                        {{ val }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    <hr>
    <br>

    <h4>Task 2 : {{ task2 }}</h4>
    <!-- <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in report_2.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Column Name</th>
                <th>{{ 'Information on Missing Data' if task1 == 'Missing Values Processing' else 'Information on Duplicate Data' }}</th>
            </tr>
        </thead>
        <tbody>
            {% for key , val in report_content[1] %}
                <tr>
                    <td><b>{{ key }}</b></td>
                    <td>
                        {{ val }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
